<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>170</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Ball</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>ball</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 47.000,-19.000 }</string>	
								<string>{ 44.500,18.000 }</string>	
								<string>{ 20.000,44.500 }</string>	
								<string>{ -15.000,46.500 }</string>	
								<string>{ -47.500,-12.000 }</string>	
								<string>{ -37.500,-30.000 }</string>	
								<string>{ -16.000,-45.500 }</string>	
								<string>{ 17.000,-45.000 }</string>
							</array>
							<array>	
								<string>{ -43.500,23.000 }</string>	
								<string>{ -47.500,-12.000 }</string>	
								<string>{ -15.000,46.500 }</string>	
								<string>{ -16.000,46.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Launcher01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65527</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 121.000,39.000 }</string>	
								<string>{ 135.000,4.000 }</string>	
								<string>{ 207.000,-2.000 }</string>	
								<string>{ 152.000,48.000 }</string>
							</array>
							<array>	
								<string>{ 251.000,168.000 }</string>	
								<string>{ 233.000,137.000 }</string>	
								<string>{ 253.000,85.000 }</string>	
								<string>{ 259.000,119.000 }</string>
							</array>
							<array>	
								<string>{ 147.000,172.000 }</string>	
								<string>{ 147.000,118.000 }</string>	
								<string>{ 150.000,93.000 }</string>	
								<string>{ 174.000,133.000 }</string>
							</array>
							<array>	
								<string>{ 290.000,37.000 }</string>	
								<string>{ 256.000,42.000 }</string>	
								<string>{ 207.000,-2.000 }</string>	
								<string>{ 275.000,8.000 }</string>	
								<string>{ 288.000,14.000 }</string>
							</array>
							<array>	
								<string>{ 233.000,137.000 }</string>	
								<string>{ 174.000,133.000 }</string>	
								<string>{ 150.000,93.000 }</string>	
								<string>{ 152.000,48.000 }</string>	
								<string>{ 207.000,-2.000 }</string>	
								<string>{ 256.000,42.000 }</string>	
								<string>{ 253.000,85.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Launcher02</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 124.500,54.000 }</string>	
								<string>{ 127.000,43.500 }</string>	
								<string>{ 144.000,48.500 }</string>
							</array>
							<array>	
								<string>{ 262.500,149.000 }</string>	
								<string>{ 260.500,169.000 }</string>	
								<string>{ 231.000,135.000 }</string>	
								<string>{ 250.500,142.000 }</string>
							</array>
							<array>	
								<string>{ 142.500,169.000 }</string>	
								<string>{ 139.500,149.000 }</string>	
								<string>{ 146.500,138.000 }</string>	
								<string>{ 172.000,133.000 }</string>
							</array>
							<array>	
								<string>{ 274.500,291.000 }</string>	
								<string>{ 221.000,310.500 }</string>	
								<string>{ 260.500,267.000 }</string>	
								<string>{ 286.500,247.000 }</string>
							</array>
							<array>	
								<string>{ 285.500,35.000 }</string>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 127.000,43.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 271.000,0.500 }</string>	
								<string>{ 285.500,10.000 }</string>
							</array>
							<array>	
								<string>{ 120.500,288.000 }</string>	
								<string>{ 101.500,225.000 }</string>	
								<string>{ 172.000,312.500 }</string>	
								<string>{ 171.000,312.500 }</string>
							</array>
							<array>	
								<string>{ 212.500,297.000 }</string>	
								<string>{ 260.500,267.000 }</string>	
								<string>{ 221.000,310.500 }</string>
							</array>
							<array>	
								<string>{ 181.500,300.000 }</string>	
								<string>{ 172.000,312.500 }</string>	
								<string>{ 136.000,266.500 }</string>
							</array>
							<array>	
								<string>{ 119.000,9.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 127.000,43.500 }</string>	
								<string>{ 121.000,49.500 }</string>
							</array>
							<array>	
								<string>{ 347.500,192.000 }</string>	
								<string>{ 300.500,226.000 }</string>	
								<string>{ 309.000,184.500 }</string>	
								<string>{ 345.500,178.000 }</string>
							</array>
							<array>	
								<string>{ 53.500,173.000 }</string>	
								<string>{ 132.500,115.000 }</string>	
								<string>{ 146.500,138.000 }</string>	
								<string>{ 90.000,181.500 }</string>	
								<string>{ 59.500,192.000 }</string>
							</array>
							<array>	
								<string>{ 125.500,226.000 }</string>	
								<string>{ 136.000,266.500 }</string>	
								<string>{ 101.500,225.000 }</string>	
								<string>{ 90.000,181.500 }</string>
							</array>
							<array>	
								<string>{ 279.500,219.000 }</string>	
								<string>{ 309.000,184.500 }</string>	
								<string>{ 300.500,226.000 }</string>	
								<string>{ 286.500,247.000 }</string>	
								<string>{ 260.500,267.000 }</string>
							</array>
							<array>	
								<string>{ 250.500,142.000 }</string>	
								<string>{ 231.000,135.000 }</string>	
								<string>{ 252.000,83.500 }</string>	
								<string>{ 269.000,114.500 }</string>	
								<string>{ 256.000,140.500 }</string>
							</array>
							<array>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 257.500,52.000 }</string>	
								<string>{ 149.500,87.000 }</string>
							</array>
							<array>	
								<string>{ 345.500,178.000 }</string>	
								<string>{ 309.000,184.500 }</string>	
								<string>{ 256.000,140.500 }</string>	
								<string>{ 269.000,114.500 }</string>
							</array>
							<array>	
								<string>{ 231.000,135.000 }</string>	
								<string>{ 172.000,133.000 }</string>	
								<string>{ 257.500,52.000 }</string>	
								<string>{ 252.000,83.500 }</string>
							</array>
							<array>	
								<string>{ 172.000,133.000 }</string>	
								<string>{ 146.500,138.000 }</string>	
								<string>{ 132.500,115.000 }</string>	
								<string>{ 149.500,87.000 }</string>	
								<string>{ 257.500,52.000 }</string>
							</array>
							<array>	
								<string>{ 101.500,225.000 }</string>	
								<string>{ 59.500,192.000 }</string>	
								<string>{ 90.000,181.500 }</string>
							</array>
							<array>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 277.000,57.500 }</string>	
								<string>{ 257.500,52.000 }</string>
							</array>
							<array>	
								<string>{ 271.500,49.000 }</string>	
								<string>{ 277.000,57.500 }</string>	
								<string>{ 257.500,52.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Launcher03</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 284.000,40.500 }</string>	
								<string>{ 152.000,54.000 }</string>	
								<string>{ 119.000,9.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 271.000,0.500 }</string>	
								<string>{ 285.500,10.000 }</string>
							</array>
							<array>	
								<string>{ 266.500,340.000 }</string>	
								<string>{ 257.000,328.500 }</string>	
								<string>{ 292.500,290.000 }</string>	
								<string>{ 276.000,336.500 }</string>
							</array>
							<array>	
								<string>{ 142.500,169.000 }</string>	
								<string>{ 139.500,149.000 }</string>	
								<string>{ 151.000,142.500 }</string>	
								<string>{ 172.000,136.000 }</string>
							</array>
							<array>	
								<string>{ 313.000,308.500 }</string>	
								<string>{ 277.000,336.500 }</string>	
								<string>{ 312.500,263.000 }</string>
							</array>
							<array>	
								<string>{ 260.500,169.000 }</string>	
								<string>{ 228.000,137.000 }</string>	
								<string>{ 262.500,149.000 }</string>
							</array>
							<array>	
								<string>{ 87.500,295.000 }</string>	
								<string>{ 83.500,230.000 }</string>	
								<string>{ 107.500,275.000 }</string>	
								<string>{ 128.000,327.500 }</string>
							</array>
							<array>	
								<string>{ 117.500,40.000 }</string>	
								<string>{ 119.000,9.500 }</string>	
								<string>{ 152.000,54.000 }</string>	
								<string>{ 131.000,46.500 }</string>
							</array>
							<array>	
								<string>{ 144.000,319.500 }</string>	
								<string>{ 128.000,327.500 }</string>	
								<string>{ 107.500,275.000 }</string>
							</array>
							<array>	
								<string>{ 152.000,54.000 }</string>	
								<string>{ 257.000,44.000 }</string>	
								<string>{ 252.500,61.000 }</string>	
								<string>{ 151.000,105.000 }</string>
							</array>
							<array>	
								<string>{ 260.500,89.000 }</string>	
								<string>{ 268.500,116.000 }</string>	
								<string>{ 151.000,105.000 }</string>	
								<string>{ 251.500,86.000 }</string>
							</array>
							<array>	
								<string>{ 354.500,192.000 }</string>	
								<string>{ 333.000,225.500 }</string>	
								<string>{ 322.500,228.000 }</string>	
								<string>{ 321.000,189.500 }</string>	
								<string>{ 350.500,178.000 }</string>
							</array>
							<array>	
								<string>{ 104.500,225.000 }</string>	
								<string>{ 107.500,275.000 }</string>	
								<string>{ 83.500,230.000 }</string>	
								<string>{ 80.500,180.000 }</string>
							</array>
							<array>	
								<string>{ 297.500,235.000 }</string>	
								<string>{ 321.000,189.500 }</string>	
								<string>{ 322.500,228.000 }</string>	
								<string>{ 292.500,290.000 }</string>
							</array>
							<array>	
								<string>{ 46.500,169.000 }</string>	
								<string>{ 151.000,105.000 }</string>	
								<string>{ 146.000,140.500 }</string>	
								<string>{ 80.500,180.000 }</string>	
								<string>{ 50.000,188.500 }</string>
							</array>
							<array>	
								<string>{ 252.500,61.000 }</string>	
								<string>{ 251.500,86.000 }</string>	
								<string>{ 151.000,105.000 }</string>
							</array>
							<array>	
								<string>{ 268.500,116.000 }</string>	
								<string>{ 350.500,178.000 }</string>	
								<string>{ 228.000,137.000 }</string>	
								<string>{ 151.000,105.000 }</string>
							</array>
							<array>	
								<string>{ 151.000,142.500 }</string>	
								<string>{ 146.000,140.500 }</string>	
								<string>{ 151.000,105.000 }</string>	
								<string>{ 172.000,136.000 }</string>
							</array>
							<array>	
								<string>{ 83.500,230.000 }</string>	
								<string>{ 50.000,188.500 }</string>	
								<string>{ 80.500,180.000 }</string>
							</array>
							<array>	
								<string>{ 172.000,136.000 }</string>	
								<string>{ 151.000,105.000 }</string>	
								<string>{ 228.000,137.000 }</string>
							</array>
							<array>	
								<string>{ 312.500,263.000 }</string>	
								<string>{ 277.000,336.500 }</string>	
								<string>{ 276.000,336.500 }</string>	
								<string>{ 292.500,290.000 }</string>	
								<string>{ 322.500,228.000 }</string>
							</array>
							<array>	
								<string>{ 321.000,189.500 }</string>	
								<string>{ 262.500,149.000 }</string>	
								<string>{ 350.500,178.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Launcher04</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 121.000,49.500 }</string>	
								<string>{ 117.500,40.000 }</string>	
								<string>{ 119.000,9.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 131.000,46.500 }</string>
							</array>
							<array>	
								<string>{ 146.000,170.000 }</string>	
								<string>{ 144.000,139.000 }</string>	
								<string>{ 171.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 260.500,169.000 }</string>	
								<string>{ 229.000,135.000 }</string>	
								<string>{ 262.500,149.000 }</string>
							</array>
							<array>	
								<string>{ 124.500,54.000 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 144.000,48.500 }</string>
							</array>
							<array>	
								<string>{ 285.500,10.000 }</string>	
								<string>{ 284.000,40.500 }</string>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 271.000,0.500 }</string>
							</array>
							<array>	
								<string>{ 82.500,357.000 }</string>	
								<string>{ 58.500,317.000 }</string>	
								<string>{ 55.500,302.000 }</string>	
								<string>{ 80.500,303.000 }</string>	
								<string>{ 97.500,352.000 }</string>
							</array>
							<array>	
								<string>{ 55.500,302.000 }</string>	
								<string>{ 73.500,270.000 }</string>	
								<string>{ 97.500,250.000 }</string>	
								<string>{ 80.500,303.000 }</string>
							</array>
							<array>	
								<string>{ 73.500,270.000 }</string>	
								<string>{ 78.500,235.000 }</string>	
								<string>{ 92.500,195.000 }</string>	
								<string>{ 97.500,250.000 }</string>
							</array>
							<array>	
								<string>{ 78.500,235.000 }</string>	
								<string>{ 67.500,218.000 }</string>	
								<string>{ 64.000,183.500 }</string>	
								<string>{ 92.500,195.000 }</string>
							</array>
							<array>	
								<string>{ 92.500,195.000 }</string>	
								<string>{ 64.000,183.500 }</string>	
								<string>{ 141.500,104.000 }</string>	
								<string>{ 144.000,139.000 }</string>
							</array>
							<array>	
								<string>{ 144.000,139.000 }</string>	
								<string>{ 141.500,104.000 }</string>	
								<string>{ 171.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 171.000,135.000 }</string>	
								<string>{ 141.500,104.000 }</string>	
								<string>{ 149.500,87.000 }</string>	
								<string>{ 229.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 309.500,354.000 }</string>	
								<string>{ 325.500,305.000 }</string>	
								<string>{ 350.500,314.000 }</string>	
								<string>{ 322.000,361.500 }</string>	
								<string>{ 321.000,361.500 }</string>
							</array>
							<array>	
								<string>{ 149.500,87.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 250.500,78.000 }</string>	
								<string>{ 268.500,114.000 }</string>	
								<string>{ 262.500,149.000 }</string>	
								<string>{ 229.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 307.500,257.000 }</string>	
								<string>{ 311.500,197.000 }</string>	
								<string>{ 350.500,314.000 }</string>	
								<string>{ 325.500,305.000 }</string>
							</array>
							<array>	
								<string>{ 326.500,242.000 }</string>	
								<string>{ 311.500,197.000 }</string>	
								<string>{ 341.500,194.000 }</string>
							</array>
							<array>	
								<string>{ 341.500,194.000 }</string>	
								<string>{ 311.500,197.000 }</string>	
								<string>{ 262.500,149.000 }</string>	
								<string>{ 268.500,114.000 }</string>
							</array>
							<array>	
								<string>{ 250.500,78.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 257.500,52.000 }</string>
							</array>
							<array>	
								<string>{ 257.500,52.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 271.500,49.000 }</string>
							</array>
							<array>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 277.000,57.500 }</string>	
								<string>{ 131.000,46.500 }</string>
							</array>
							<array>	
								<string>{ 277.000,57.500 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 271.500,49.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>PistonAnimation010</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>AnimatedPiston</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 348.500,167.000 }</string>	
								<string>{ 335.000,179.500 }</string>	
								<string>{ 205.000,179.500 }</string>	
								<string>{ 321.000,155.500 }</string>
							</array>
							<array>	
								<string>{ 214.500,44.000 }</string>	
								<string>{ 217.000,59.500 }</string>	
								<string>{ 205.000,179.500 }</string>	
								<string>{ 204.000,179.500 }</string>	
								<string>{ 201.000,165.500 }</string>	
								<string>{ 206.000,39.500 }</string>
							</array>
							<array>	
								<string>{ -0.500,139.000 }</string>	
								<string>{ 108.000,133.500 }</string>	
								<string>{ 117.000,149.500 }</string>	
								<string>{ 118.000,158.500 }</string>	
								<string>{ 107.000,172.500 }</string>	
								<string>{ 4.000,162.500 }</string>
							</array>
							<array>	
								<string>{ 321.000,155.500 }</string>	
								<string>{ 205.000,179.500 }</string>	
								<string>{ 217.000,59.500 }</string>
							</array>
							<array>	
								<string>{ 118.000,158.500 }</string>	
								<string>{ 117.000,149.500 }</string>	
								<string>{ 192.000,149.500 }</string>	
								<string>{ 188.000,158.500 }</string>
							</array>
							<array>	
								<string>{ 188.000,158.500 }</string>	
								<string>{ 192.000,149.500 }</string>	
								<string>{ 201.500,138.000 }</string>	
								<string>{ 201.000,165.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>PistonRight</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>4</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>StaticPiston</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 177.500,58.000 }</string>	
								<string>{ 175.500,48.000 }</string>	
								<string>{ 177.500,34.000 }</string>	
								<string>{ 184.000,23.500 }</string>	
								<string>{ 186.000,58.500 }</string>
							</array>
							<array>	
								<string>{ 20.500,28.000 }</string>	
								<string>{ 23.500,19.000 }</string>	
								<string>{ 163.000,15.500 }</string>	
								<string>{ 167.500,55.000 }</string>	
								<string>{ 40.000,32.500 }</string>
							</array>
							<array>	
								<string>{ 175.500,48.000 }</string>	
								<string>{ 167.500,55.000 }</string>	
								<string>{ 163.000,15.500 }</string>	
								<string>{ 177.500,34.000 }</string>
							</array>
							<array>	
								<string>{ 168.500,140.000 }</string>	
								<string>{ 160.000,155.500 }</string>	
								<string>{ 159.000,155.500 }</string>	
								<string>{ 152.000,135.500 }</string>	
								<string>{ 167.500,55.000 }</string>
							</array>
							<array>	
								<string>{ 40.000,32.500 }</string>	
								<string>{ 167.500,55.000 }</string>	
								<string>{ 152.000,135.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>SteamBot</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>SteamBot</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>47.170</real>
                             <key>position</key> <string>{ -1.000,1.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>Bridge</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>31</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -318.000,224.000 }</string>	
								<string>{ -320.500,-155.500 }</string>	
								<string>{ -188.000,233.000 }</string>
							</array>
							<array>	
								<string>{ 319.500,221.500 }</string>	
								<string>{ 200.000,233.000 }</string>	
								<string>{ 283.500,-56.500 }</string>	
								<string>{ 319.500,-148.500 }</string>
							</array>
							<array>	
								<string>{ -306.500,-152.500 }</string>	
								<string>{ -293.500,-115.500 }</string>	
								<string>{ -299.000,-96.000 }</string>	
								<string>{ -320.500,-155.500 }</string>
							</array>
							<array>	
								<string>{ 207.500,10.500 }</string>	
								<string>{ 227.500,3.500 }</string>	
								<string>{ 133.500,123.500 }</string>	
								<string>{ 180.500,48.500 }</string>
							</array>
							<array>	
								<string>{ 161.000,57.000 }</string>	
								<string>{ 180.500,48.500 }</string>	
								<string>{ 133.500,123.500 }</string>
							</array>
							<array>	
								<string>{ -261.500,-50.500 }</string>	
								<string>{ -253.000,-32.000 }</string>	
								<string>{ -291.500,-77.500 }</string>
							</array>
							<array>	
								<string>{ -206.000,-3.000 }</string>	
								<string>{ -174.500,32.500 }</string>	
								<string>{ -127.000,131.000 }</string>	
								<string>{ -253.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ 306.500,-138.500 }</string>	
								<string>{ 319.500,-148.500 }</string>	
								<string>{ 283.500,-56.500 }</string>	
								<string>{ 287.500,-91.500 }</string>
							</array>
							<array>	
								<string>{ -70.000,278.000 }</string>	
								<string>{ -188.000,233.000 }</string>	
								<string>{ -103.000,164.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ 0.000,288.000 }</string>
							</array>
							<array>	
								<string>{ 76.000,278.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ 56.000,201.000 }</string>	
								<string>{ 110.500,157.500 }</string>	
								<string>{ 200.000,233.000 }</string>
							</array>
							<array>	
								<string>{ 227.500,3.500 }</string>	
								<string>{ 263.000,-27.000 }</string>	
								<string>{ 200.000,233.000 }</string>	
								<string>{ 110.500,157.500 }</string>	
								<string>{ 133.500,123.500 }</string>
							</array>
							<array>	
								<string>{ 283.500,-56.500 }</string>	
								<string>{ 200.000,233.000 }</string>	
								<string>{ 263.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ 56.000,201.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ -3.000,215.000 }</string>
							</array>
							<array>	
								<string>{ -3.000,215.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ -48.000,202.000 }</string>
							</array>
							<array>	
								<string>{ -48.000,202.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ -103.000,164.000 }</string>
							</array>
							<array>	
								<string>{ -253.000,-32.000 }</string>	
								<string>{ -103.000,164.000 }</string>	
								<string>{ -188.000,233.000 }</string>	
								<string>{ -291.500,-77.500 }</string>
							</array>
							<array>	
								<string>{ -291.500,-77.500 }</string>	
								<string>{ -188.000,233.000 }</string>	
								<string>{ -299.000,-96.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>newEmitter01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -111.000,2.000 }</string>	
								<string>{ -116.500,-42.500 }</string>	
								<string>{ 117.000,-40.000 }</string>	
								<string>{ 65.000,12.000 }</string>	
								<string>{ -71.500,9.500 }</string>
							</array>
							<array>	
								<string>{ 114.000,-5.000 }</string>	
								<string>{ 65.000,12.000 }</string>	
								<string>{ 117.000,-40.000 }</string>
							</array>
							<array>	
								<string>{ -64.000,28.000 }</string>	
								<string>{ -71.500,9.500 }</string>	
								<string>{ 65.000,12.000 }</string>	
								<string>{ 55.500,28.500 }</string>	
								<string>{ -25.500,29.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

