<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>170</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Launcher04</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>8</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>15</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 121.000,49.500 }</string>	
								<string>{ 117.500,40.000 }</string>	
								<string>{ 119.000,9.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 131.000,46.500 }</string>
							</array>
							<array>	
								<string>{ 146.000,170.000 }</string>	
								<string>{ 144.000,139.000 }</string>	
								<string>{ 171.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 260.500,169.000 }</string>	
								<string>{ 229.000,135.000 }</string>	
								<string>{ 262.500,149.000 }</string>
							</array>
							<array>	
								<string>{ 124.500,54.000 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 144.000,48.500 }</string>
							</array>
							<array>	
								<string>{ 285.500,10.000 }</string>	
								<string>{ 284.000,40.500 }</string>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 131.000,1.500 }</string>	
								<string>{ 271.000,0.500 }</string>
							</array>
							<array>	
								<string>{ 82.500,357.000 }</string>	
								<string>{ 58.500,317.000 }</string>	
								<string>{ 55.500,302.000 }</string>	
								<string>{ 80.500,303.000 }</string>	
								<string>{ 97.500,352.000 }</string>
							</array>
							<array>	
								<string>{ 55.500,302.000 }</string>	
								<string>{ 73.500,270.000 }</string>	
								<string>{ 97.500,250.000 }</string>	
								<string>{ 80.500,303.000 }</string>
							</array>
							<array>	
								<string>{ 73.500,270.000 }</string>	
								<string>{ 78.500,235.000 }</string>	
								<string>{ 92.500,195.000 }</string>	
								<string>{ 97.500,250.000 }</string>
							</array>
							<array>	
								<string>{ 78.500,235.000 }</string>	
								<string>{ 67.500,218.000 }</string>	
								<string>{ 64.000,183.500 }</string>	
								<string>{ 92.500,195.000 }</string>
							</array>
							<array>	
								<string>{ 92.500,195.000 }</string>	
								<string>{ 64.000,183.500 }</string>	
								<string>{ 141.500,104.000 }</string>	
								<string>{ 144.000,139.000 }</string>
							</array>
							<array>	
								<string>{ 144.000,139.000 }</string>	
								<string>{ 141.500,104.000 }</string>	
								<string>{ 171.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 171.000,135.000 }</string>	
								<string>{ 141.500,104.000 }</string>	
								<string>{ 149.500,87.000 }</string>	
								<string>{ 229.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 309.500,354.000 }</string>	
								<string>{ 325.500,305.000 }</string>	
								<string>{ 350.500,314.000 }</string>	
								<string>{ 322.000,361.500 }</string>	
								<string>{ 321.000,361.500 }</string>
							</array>
							<array>	
								<string>{ 149.500,87.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 250.500,78.000 }</string>	
								<string>{ 268.500,114.000 }</string>	
								<string>{ 262.500,149.000 }</string>	
								<string>{ 229.000,135.000 }</string>
							</array>
							<array>	
								<string>{ 307.500,257.000 }</string>	
								<string>{ 311.500,197.000 }</string>	
								<string>{ 350.500,314.000 }</string>	
								<string>{ 325.500,305.000 }</string>
							</array>
							<array>	
								<string>{ 326.500,242.000 }</string>	
								<string>{ 311.500,197.000 }</string>	
								<string>{ 341.500,194.000 }</string>
							</array>
							<array>	
								<string>{ 341.500,194.000 }</string>	
								<string>{ 311.500,197.000 }</string>	
								<string>{ 262.500,149.000 }</string>	
								<string>{ 268.500,114.000 }</string>
							</array>
							<array>	
								<string>{ 250.500,78.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 257.500,52.000 }</string>
							</array>
							<array>	
								<string>{ 257.500,52.000 }</string>	
								<string>{ 144.000,48.500 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 271.500,49.000 }</string>
							</array>
							<array>	
								<string>{ 269.500,47.000 }</string>	
								<string>{ 277.000,57.500 }</string>	
								<string>{ 131.000,46.500 }</string>
							</array>
							<array>	
								<string>{ 277.000,57.500 }</string>	
								<string>{ 131.000,46.500 }</string>	
								<string>{ 271.500,49.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>SteamBot</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>SteamBot</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>47.170</real>
                             <key>position</key> <string>{ -1.000,1.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>Bridge</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>31</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -318.000,224.000 }</string>	
								<string>{ -320.500,-155.500 }</string>	
								<string>{ -188.000,233.000 }</string>
							</array>
							<array>	
								<string>{ 319.500,221.500 }</string>	
								<string>{ 200.000,233.000 }</string>	
								<string>{ 283.500,-56.500 }</string>	
								<string>{ 319.500,-148.500 }</string>
							</array>
							<array>	
								<string>{ -306.500,-152.500 }</string>	
								<string>{ -293.500,-115.500 }</string>	
								<string>{ -299.000,-96.000 }</string>	
								<string>{ -320.500,-155.500 }</string>
							</array>
							<array>	
								<string>{ 207.500,10.500 }</string>	
								<string>{ 227.500,3.500 }</string>	
								<string>{ 133.500,123.500 }</string>	
								<string>{ 180.500,48.500 }</string>
							</array>
							<array>	
								<string>{ 161.000,57.000 }</string>	
								<string>{ 180.500,48.500 }</string>	
								<string>{ 133.500,123.500 }</string>
							</array>
							<array>	
								<string>{ -261.500,-50.500 }</string>	
								<string>{ -253.000,-32.000 }</string>	
								<string>{ -291.500,-77.500 }</string>
							</array>
							<array>	
								<string>{ -206.000,-3.000 }</string>	
								<string>{ -174.500,32.500 }</string>	
								<string>{ -127.000,131.000 }</string>	
								<string>{ -253.000,-32.000 }</string>
							</array>
							<array>	
								<string>{ 306.500,-138.500 }</string>	
								<string>{ 319.500,-148.500 }</string>	
								<string>{ 283.500,-56.500 }</string>	
								<string>{ 287.500,-91.500 }</string>
							</array>
							<array>	
								<string>{ -70.000,278.000 }</string>	
								<string>{ -188.000,233.000 }</string>	
								<string>{ -103.000,164.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ 0.000,288.000 }</string>
							</array>
							<array>	
								<string>{ 76.000,278.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ 56.000,201.000 }</string>	
								<string>{ 110.500,157.500 }</string>	
								<string>{ 200.000,233.000 }</string>
							</array>
							<array>	
								<string>{ 227.500,3.500 }</string>	
								<string>{ 263.000,-27.000 }</string>	
								<string>{ 200.000,233.000 }</string>	
								<string>{ 110.500,157.500 }</string>	
								<string>{ 133.500,123.500 }</string>
							</array>
							<array>	
								<string>{ 283.500,-56.500 }</string>	
								<string>{ 200.000,233.000 }</string>	
								<string>{ 263.000,-27.000 }</string>
							</array>
							<array>	
								<string>{ 56.000,201.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ -3.000,215.000 }</string>
							</array>
							<array>	
								<string>{ -3.000,215.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ -48.000,202.000 }</string>
							</array>
							<array>	
								<string>{ -48.000,202.000 }</string>	
								<string>{ 1.000,288.000 }</string>	
								<string>{ -103.000,164.000 }</string>
							</array>
							<array>	
								<string>{ -253.000,-32.000 }</string>	
								<string>{ -103.000,164.000 }</string>	
								<string>{ -188.000,233.000 }</string>	
								<string>{ -291.500,-77.500 }</string>
							</array>
							<array>	
								<string>{ -291.500,-77.500 }</string>	
								<string>{ -188.000,233.000 }</string>	
								<string>{ -299.000,-96.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>newEmitter01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -111.000,2.000 }</string>	
								<string>{ -116.500,-42.500 }</string>	
								<string>{ 117.000,-40.000 }</string>	
								<string>{ 65.000,12.000 }</string>	
								<string>{ -71.500,9.500 }</string>
							</array>
							<array>	
								<string>{ 114.000,-5.000 }</string>	
								<string>{ 65.000,12.000 }</string>	
								<string>{ 117.000,-40.000 }</string>
							</array>
							<array>	
								<string>{ -64.000,28.000 }</string>	
								<string>{ -71.500,9.500 }</string>	
								<string>{ 65.000,12.000 }</string>	
								<string>{ 55.500,28.500 }</string>	
								<string>{ -25.500,29.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>brokenBridge</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0016,0.0074 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 639.000,205.000 }</string>	
								<string>{ 510.000,219.500 }</string>	
								<string>{ 638.500,32.000 }</string>
							</array>
							<array>	
								<string>{ 593.000,15.500 }</string>	
								<string>{ 613.000,31.500 }</string>	
								<string>{ 455.000,238.500 }</string>	
								<string>{ 454.000,238.500 }</string>	
								<string>{ 559.000,27.500 }</string>
							</array>
							<array>	
								<string>{ 413.500,167.000 }</string>	
								<string>{ 444.500,121.000 }</string>	
								<string>{ 454.000,238.500 }</string>	
								<string>{ 419.500,197.000 }</string>
							</array>
							<array>	
								<string>{ 413.000,255.500 }</string>	
								<string>{ 408.500,246.000 }</string>	
								<string>{ 419.500,197.000 }</string>	
								<string>{ 454.000,238.500 }</string>
							</array>
							<array>	
								<string>{ 444.500,121.000 }</string>	
								<string>{ 481.000,42.500 }</string>	
								<string>{ 514.000,27.500 }</string>	
								<string>{ 559.000,27.500 }</string>	
								<string>{ 454.000,238.500 }</string>
							</array>
							<array>	
								<string>{ 510.000,219.500 }</string>	
								<string>{ 455.000,238.500 }</string>	
								<string>{ 613.000,31.500 }</string>	
								<string>{ 638.500,32.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2.000,15.000 }</string>	
								<string>{ 150.000,39.000 }</string>	
								<string>{ 209.000,154.000 }</string>	
								<string>{ 213.000,189.000 }</string>	
								<string>{ 128.000,209.000 }</string>	
								<string>{ 3.000,206.000 }</string>
							</array>
							<array>	
								<string>{ 214.000,248.000 }</string>	
								<string>{ 185.000,225.000 }</string>	
								<string>{ 209.000,209.000 }</string>	
								<string>{ 221.000,237.000 }</string>
							</array>
							<array>	
								<string>{ 209.000,209.000 }</string>	
								<string>{ 185.000,225.000 }</string>	
								<string>{ 128.000,209.000 }</string>	
								<string>{ 213.000,189.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>bigBumper</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -2.500,0.500 }</string>	
								<string>{ 10.000,8.000 }</string>	
								<string>{ 7.000,703.000 }</string>	
								<string>{ -9.000,912.000 }</string>	
								<string>{ -12.000,12.000 }</string>
							</array>
							<array>	
								<string>{ -11.000,1392.000 }</string>	
								<string>{ -14.000,1257.000 }</string>	
								<string>{ -9.000,912.000 }</string>	
								<string>{ 7.000,703.000 }</string>	
								<string>{ 11.000,1393.000 }</string>	
								<string>{ -1.500,1407.500 }</string>	
								<string>{ -2.500,1407.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>smallBumper</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -13.000,460.000 }</string>	
								<string>{ -14.000,435.000 }</string>	
								<string>{ -14.000,10.000 }</string>	
								<string>{ 6.000,3.000 }</string>	
								<string>{ 10.000,23.000 }</string>	
								<string>{ 11.500,458.500 }</string>	
								<string>{ 4.500,465.500 }</string>	
								<string>{ 3.500,465.500 }</string>
							</array>
							<array>	
								<string>{ -3.500,0.500 }</string>	
								<string>{ 6.000,3.000 }</string>	
								<string>{ -14.000,10.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>newEmitter</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>16</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 4.000,28.000 }</string>	
								<string>{ 4.000,-2.000 }</string>	
								<string>{ 134.000,-1.000 }</string>	
								<string>{ 105.000,33.000 }</string>	
								<string>{ 23.000,32.000 }</string>
							</array>
							<array>	
								<string>{ 195.000,26.000 }</string>	
								<string>{ 175.000,39.000 }</string>	
								<string>{ 125.000,28.000 }</string>	
								<string>{ 134.000,-1.000 }</string>
							</array>
							<array>	
								<string>{ 125.000,28.000 }</string>	
								<string>{ 105.000,33.000 }</string>	
								<string>{ 134.000,-1.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,32.000 }</string>	
								<string>{ 105.000,33.000 }</string>	
								<string>{ 96.000,44.000 }</string>	
								<string>{ 30.000,44.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>triangle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5163,0.4552 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>31</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>triangle</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2.370,-40.520 }</string>	
								<string>{ 41.370,11.480 }</string>	
								<string>{ 40.370,21.480 }</string>	
								<string>{ -36.630,21.480 }</string>	
								<string>{ -36.630,11.480 }</string>
							</array>
							<array>	
								<string>{ -32.630,38.480 }</string>	
								<string>{ -36.630,21.480 }</string>	
								<string>{ 40.370,21.480 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>spinner</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4939,0.5687 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -0.390,-47.610 }</string>	
								<string>{ 9.610,-40.610 }</string>	
								<string>{ 41.610,15.390 }</string>	
								<string>{ -36.390,32.390 }</string>	
								<string>{ -43.390,27.390 }</string>	
								<string>{ -42.390,18.390 }</string>	
								<string>{ -8.390,-40.610 }</string>
							</array>
							<array>	
								<string>{ 44.610,28.390 }</string>	
								<string>{ 34.610,33.390 }</string>	
								<string>{ -36.390,32.390 }</string>	
								<string>{ 41.610,15.390 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>leftPlatform</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5350,0.4300 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>leftPlatform</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -1.000,-69.000 }</string>	
								<string>{ 77.000,27.000 }</string>	
								<string>{ 71.000,47.000 }</string>	
								<string>{ -69.000,83.000 }</string>	
								<string>{ -76.000,46.000 }</string>	
								<string>{ -78.000,26.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>rightPlatform</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5150,0.4400 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>rightPlatform</string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 1.000,-73.000 }</string>	
								<string>{ 82.000,28.000 }</string>	
								<string>{ 78.000,43.000 }</string>	
								<string>{ -73.000,46.000 }</string>	
								<string>{ -76.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 70.000,81.000 }</string>	
								<string>{ -73.000,46.000 }</string>	
								<string>{ 78.000,43.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>roof</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>17</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2.000,80.000 }</string>	
								<string>{ 21.000,196.000 }</string>	
								<string>{ 2.000,486.000 }</string>
							</array>
							<array>	
								<string>{ 21.000,196.000 }</string>	
								<string>{ 49.000,254.000 }</string>	
								<string>{ 2.000,486.000 }</string>
							</array>
							<array>	
								<string>{ 49.000,254.000 }</string>	
								<string>{ 103.000,325.000 }</string>	
								<string>{ 2.000,486.000 }</string>
							</array>
							<array>	
								<string>{ 103.000,325.000 }</string>	
								<string>{ 169.000,369.000 }</string>	
								<string>{ 2.000,486.000 }</string>
							</array>
							<array>	
								<string>{ 169.000,369.000 }</string>	
								<string>{ 265.000,409.000 }</string>	
								<string>{ 2.000,486.000 }</string>
							</array>
							<array>	
								<string>{ 265.000,409.000 }</string>	
								<string>{ 333.000,412.000 }</string>	
								<string>{ 3.000,486.000 }</string>	
								<string>{ 2.000,486.000 }</string>
							</array>
							<array>	
								<string>{ 641.000,69.000 }</string>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 631.000,141.000 }</string>
							</array>
							<array>	
								<string>{ 631.000,141.000 }</string>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 617.000,201.000 }</string>
							</array>
							<array>	
								<string>{ 617.000,201.000 }</string>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 591.000,265.000 }</string>
							</array>
							<array>	
								<string>{ 591.000,265.000 }</string>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 551.000,311.000 }</string>
							</array>
							<array>	
								<string>{ 551.000,311.000 }</string>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 498.000,363.000 }</string>
							</array>
							<array>	
								<string>{ 498.000,363.000 }</string>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 425.000,395.000 }</string>
							</array>
							<array>	
								<string>{ 639.000,486.000 }</string>	
								<string>{ 3.000,486.000 }</string>	
								<string>{ 333.000,412.000 }</string>	
								<string>{ 425.000,395.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>leftDrain</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5978,0.5214 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>19</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>17</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 1.500,206.000 }</string>	
								<string>{ -28.000,219.500 }</string>	
								<string>{ -144.000,217.500 }</string>	
								<string>{ -0.500,39.000 }</string>	
								<string>{ 5.500,63.000 }</string>
							</array>
							<array>	
								<string>{ 85.000,-254.500 }</string>	
								<string>{ 59.500,-216.000 }</string>	
								<string>{ -162.500,-253.000 }</string>
							</array>
							<array>	
								<string>{ 59.500,-216.000 }</string>	
								<string>{ 40.000,-164.500 }</string>	
								<string>{ 15.500,-141.000 }</string>	
								<string>{ -162.500,-253.000 }</string>
							</array>
							<array>	
								<string>{ -162.500,-253.000 }</string>	
								<string>{ 15.500,-141.000 }</string>	
								<string>{ 18.500,-41.000 }</string>	
								<string>{ -0.500,39.000 }</string>	
								<string>{ -144.000,217.500 }</string>	
								<string>{ -160.000,223.500 }</string>	
								<string>{ -161.000,223.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>rightDrain</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.9881,0.7926 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>17</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -43.500,-52.000 }</string>	
								<string>{ -38.500,-68.000 }</string>	
								<string>{ -26.000,-39.500 }</string>
							</array>
							<array>	
								<string>{ -120.500,-210.000 }</string>	
								<string>{ -124.000,-230.500 }</string>	
								<string>{ 1.500,-255.000 }</string>	
								<string>{ -92.500,-186.000 }</string>
							</array>
							<array>	
								<string>{ -58.500,-105.000 }</string>	
								<string>{ -62.500,-141.000 }</string>	
								<string>{ 1.500,-255.000 }</string>	
								<string>{ -45.000,-88.500 }</string>
							</array>
							<array>	
								<string>{ -146.500,-244.000 }</string>	
								<string>{ -151.000,-255.500 }</string>	
								<string>{ 1.500,-255.000 }</string>	
								<string>{ -124.000,-230.500 }</string>
							</array>
							<array>	
								<string>{ -92.500,-186.000 }</string>	
								<string>{ 1.500,-255.000 }</string>	
								<string>{ -62.500,-141.000 }</string>
							</array>
							<array>	
								<string>{ -23.500,1.000 }</string>	
								<string>{ -26.000,-39.500 }</string>	
								<string>{ 1.500,-255.000 }</string>	
								<string>{ 1.500,46.000 }</string>
							</array>
							<array>	
								<string>{ -45.000,-88.500 }</string>	
								<string>{ 1.500,-255.000 }</string>	
								<string>{ -26.000,-39.500 }</string>	
								<string>{ -38.500,-68.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>rightPaddle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.7752,0.5175 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -7.710,-16.440 }</string>	
								<string>{ -8.710,19.560 }</string>	
								<string>{ -16.710,25.560 }</string>	
								<string>{ -189.710,7.560 }</string>	
								<string>{ -189.710,-8.440 }</string>	
								<string>{ -17.710,-25.440 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>leftPaddle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.2289,0.5095 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>1</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 6.680,-16.550 }</string>	
								<string>{ 15.680,-24.550 }</string>	
								<string>{ 188.680,-7.550 }</string>	
								<string>{ 188.680,8.450 }</string>	
								<string>{ 15.680,25.450 }</string>	
								<string>{ 14.680,25.450 }</string>	
								<string>{ 6.680,15.450 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

