<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,310},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{320,224}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,224}}</string>
                <key>sourceSize</key>
                <string>{320,288}</string>
            </dict>
            <key>Launcher01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{170,131}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,62},{170,131}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>Launcher02.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,476},{154,157}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{154,157}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>Launcher03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{160,171}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{160,171}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>Launcher04.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,324},{150,181}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{150,181}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>NumberOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,635},{47,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{47,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>NumberThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,383},{55,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{55,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>NumberTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,954},{59,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{59,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>Piston01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,164},{178,71}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{178,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation00.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,639},{84,71}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{84,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,639},{92,71}}</string>
                <key>offset</key>
                <string>{-50,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{92,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation010.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,237},{176,71}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{176,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,626},{104,71}}</string>
                <key>offset</key>
                <string>{-44,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{104,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,553},{116,71}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{116,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation04.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,383},{126,71}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{126,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation05.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,135},{136,71}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{136,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,237},{144,71}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{144,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation07.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,310},{152,71}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{152,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation08.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,480},{160,71}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{160,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonAnimation09.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,310},{168,71}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{168,71}}</string>
                <key>sourceSize</key>
                <string>{192,113}</string>
            </dict>
            <key>PistonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,733},{84,72}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{84,72}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>PressureBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{237,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,18}}</string>
                <key>sourceSize</key>
                <string>{237,18}</string>
            </dict>
            <key>PressureBarPointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,135},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>SteamBot.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,952},{61,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{61,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>bigBumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,704}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,704}}</string>
                <key>sourceSize</key>
                <string>{15,710}</string>
            </dict>
            <key>brokenBridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{320,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{320,123}}</string>
                <key>sourceSize</key>
                <string>{320,135}</string>
            </dict>
            <key>newEmitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,208},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>newEmitter01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{119,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,52}</string>
            </dict>
            <key>pressureGauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,553},{84,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{84,114}}</string>
                <key>sourceSize</key>
                <string>{100,126}</string>
            </dict>
            <key>rightLargeBumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,952},{177,70}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,70}}</string>
                <key>sourceSize</key>
                <string>{177,76}</string>
            </dict>
            <key>smallBumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,934},{16,233}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,233}}</string>
                <key>sourceSize</key>
                <string>{16,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:271ac1fe05782c2638ec1b134e831509$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
