<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{640,449}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,449}}</string>
                <key>sourceSize</key>
                <string>{640,575}</string>
            </dict>
            <key>Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1075},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>Launcher01.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1410},{340,260}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,126},{340,260}}</string>
                <key>sourceSize</key>
                <string>{400,386}</string>
            </dict>
            <key>Launcher02.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,704},{308,314}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,72},{308,314}}</string>
                <key>sourceSize</key>
                <string>{400,386}</string>
            </dict>
            <key>Launcher03.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1066},{318,342}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{318,342}}</string>
                <key>sourceSize</key>
                <string>{400,386}</string>
            </dict>
            <key>Launcher04.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,711},{296,362}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{296,362}}</string>
                <key>sourceSize</key>
                <string>{400,386}</string>
            </dict>
            <key>LightningAnim0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1752},{224,217}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{224,217}}</string>
                <key>sourceSize</key>
                <string>{260,235}</string>
            </dict>
            <key>LightningAnim0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1547},{220,203}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{220,203}}</string>
                <key>sourceSize</key>
                <string>{260,235}</string>
            </dict>
            <key>LightningAnim0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,453},{224,219}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{224,219}}</string>
                <key>sourceSize</key>
                <string>{260,235}</string>
            </dict>
            <key>LightningAnim0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1325},{220,217}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{220,217}}</string>
                <key>sourceSize</key>
                <string>{260,235}</string>
            </dict>
            <key>LightningAnim0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1194},{226,213}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{226,213}}</string>
                <key>sourceSize</key>
                <string>{260,235}</string>
            </dict>
            <key>LightningAnim0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1194},{218,215}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{218,215}}</string>
                <key>sourceSize</key>
                <string>{260,235}</string>
            </dict>
            <key>NumberOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1752},{92,220}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,6},{92,220}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>NumberThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1752},{110,208}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,13},{110,208}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>NumberTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1315},{116,206}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,12},{116,206}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>Piston01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,711},{353,180}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{353,180}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,979},{167,140}}</string>
                <key>offset</key>
                <string>{-108,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{167,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,979},{183,140}}</string>
                <key>offset</key>
                <string>{-100,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{183,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation010.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1410},{349,180}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{349,180}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,984},{207,140}}</string>
                <key>offset</key>
                <string>{-88,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{207,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation03.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,453},{231,140}}</string>
                <key>offset</key>
                <string>{-76,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{231,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation04.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,453},{249,140}}</string>
                <key>offset</key>
                <string>{-67,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{249,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation05.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1761},{269,140}}</string>
                <key>offset</key>
                <string>{-57,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{269,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation06.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1761},{285,140}}</string>
                <key>offset</key>
                <string>{-49,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{285,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,679},{303,140}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{303,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation08.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1894},{317,140}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{317,140}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonAnimation09.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1075},{333,180}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{333,180}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>PistonRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1164},{167,140}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{167,140}}</string>
                <key>sourceSize</key>
                <string>{187,176}</string>
            </dict>
            <key>SteamBot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1725},{120,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotAngryBlink00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1148},{120,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotAngryBlink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1306},{120,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotAngryBlink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1193},{120,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotAngryBlink03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1193},{120,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotNormalBlink00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1725},{120,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotNormalBlink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,453},{120,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotNormalBlink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,873},{120,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBotNormalBlink03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,873},{120,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SteamBot_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1148},{120,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>bigBumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,1407}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{29,1407}}</string>
                <key>sourceSize</key>
                <string>{29,1419}</string>
            </dict>
            <key>brokenBridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,452},{640,257}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{640,257}}</string>
                <key>sourceSize</key>
                <string>{640,269}</string>
            </dict>
            <key>drain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1411},{640,481}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{640,481}}</string>
                <key>sourceSize</key>
                <string>{640,575}</string>
            </dict>
            <key>leftDrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,711},{249,481}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{249,481}}</string>
                <key>sourceSize</key>
                <string>{271,491}</string>
            </dict>
            <key>leftPlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1523},{200,186}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>newEmitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1978},{136,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>newEmitter01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,453},{237,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,100}}</string>
                <key>sourceSize</key>
                <string>{237,104}</string>
            </dict>
            <key>rightDrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1020},{154,303}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{154,303}}</string>
                <key>sourceSize</key>
                <string>{168,323}</string>
            </dict>
            <key>rightLargeBumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{353,140}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,140}}</string>
                <key>sourceSize</key>
                <string>{353,152}</string>
            </dict>
            <key>rightPlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,679},{192,186}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{192,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>roof.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{640,448}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,155},{640,448}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>smallBumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,711},{29,466}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{29,466}}</string>
                <key>sourceSize</key>
                <string>{31,482}</string>
            </dict>
            <key>spinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1428},{92,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,85}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,575},{100,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f73dcf20374ae45b78c29c1457f75e1:1/1$</string>
            <key>textureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
