<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,449},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,224}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,224}}</string>
                <key>sourceSize</key>
                <string>{320,288}</string>
            </dict>
            <key>Launcher01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,316},{170,131}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,62},{170,131}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>Launcher02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{154,157}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,36},{154,157}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>Launcher03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,154},{160,171}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{160,171}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>Launcher04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{150,181}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{150,181}}</string>
                <key>sourceSize</key>
                <string>{200,193}</string>
            </dict>
            <key>NumberOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,315},{47,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{47,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>NumberThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,315},{55,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{55,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>NumberTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,254},{59,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{59,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>grassfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{320,24}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{320,24}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>leftPod.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{170,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,128}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>mound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{214,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,93}}</string>
                <key>sourceSize</key>
                <string>{214,93}</string>
            </dict>
            <key>rightPod.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,428},{163,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,122}}</string>
                <key>sourceSize</key>
                <string>{163,122}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,349},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a57d5d8d5230eb8f15e0df04c9cb2b$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
